:root {
  --primary-color: #006400;
  --light-color: #e5f9e0;
}
body {
  background-color: var(--light-color);
}

.container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  background-color: var(--light-color);
  padding: 24px;
}

input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  width: 80%;
  max-width: 400px;
}

label {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 8px;
}

input[type="radio"] {
  margin: 8px;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
  width: 100%;
  color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
  /* styles for screens smaller than 600px */
  .container {
    padding: 12px;
  }
  input[type="number"] {
    font-size: 16px;
  }
  label {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
}
