:root {
  --primary-color: #006400;
  --light-color: #e5f9e0;
}

body {
  background-color: var(--light-color);
}

.container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  background-color: var(--light-color);
  padding: 24px;
}

input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  width: 80%;
  max-width: 400px;
}

label {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 8px;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
  width: 100%;
  color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
  /* styles for screens smaller than 600px */
  .container {
    padding: 12px;
  }
  input[type="number"] {
    font-size: 16px;
  }
  label {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
}

.segmented-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: #ddd;
  overflow: hidden;
}

.segmented-control__button {
  flex: 1;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  border: none;
  background: none;
}

.segmented-control__button.active {
  background-color: green;
  color: white;
  border-radius: 10px;
}

.split-bill-group {
  display: flex;
  align-items: center;
}

.split-bill-group label {
  margin-right: 40px;
  width: 30%;
  white-space: nowrap;
  box-sizing: border-box;
}

.split-bill-group .segmented-control {
  width: 70%;
  box-sizing: border-box;
}

.people-counter {
  display: flex;
}

.people-counter button {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  background-color: #ddd;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: color 0.8s ease-in-out;
}

.people-counter span {
  margin: 0 10px;
  font-size: 20px;
  color: black;
}
